@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  /* colour scheme */
  --background: #1c1b1f;
  --white: #e3d3e2;
  --grey: #a8a8a8;
  --dark-grey: #4a4a4a;
  --black: #1c1b1f;
  --blackest: #0a0a0a;
  --primary: #7b4bc3;
  --primary-dark: #6936d4;
  --secondary: #4bc3c3;
  --tertiary: #c34b4b;
  --quaternary: #3646af;
  --starling: #6936d4;
  --teal: #288f87;
  --teal-bright: #3e9b9b;

  --footer-background-color: #131214;

  --red: #c34b4b;
  --green: #4bc34b;
  --blue: #4b4bc3;
  --yellow: #c3c34b;
  --orange: #c34b4b;
  --orange-bright: #d45b5b;
  --purple: #914bc3;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--white);
}

.App {
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
